body {
	color: rgb(255, 255, 255);
	padding: 5%
}



.button {
	font: bold 17px Times;
	text-decoration: none;
	background-color: #ffffff;
	color: #000000;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #b28d8d;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

img {
	display: display: inline-block
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

body {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/escheresque_ste.png');
}

.menu {
	display: inline-block;
	position: absolute;
	width: 45px;
	top: 5%;
	left: 5%;
	transform: translate(5%, 5%);
	font-size: 62px;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	cursor: pointer;
}

.menu::before,
.menu::after {
	position: absolute;
	transition: 0.4s ease;
	opacity: 0;
	pointer-events: none;
}

.menu:before {
	content: "D \00a0 \00a0 \00a0 \00a0 \00a0T";
	top: -60px;
	left: -100%;
	width: 200px;
}

.menu:after {
	content: "H";
	top: 50px;
	left: 100%;
}

.menu:hover::before,
.menu:hover::after {
	top: -4.3px;
	opacity: 1;
	transition: 0.2s ease, opacity 0.17s 0.03s ease-in;
}

.bar {
	width: 80%;
	height: 3px;
	background: white;
	margin: 0 auto 18px;
	transition: transform 0.4s ease;
}

* {
	margin: 0;
	padding: 0;
	overflow-x,
	overflow-y: hidden;
	font-face: "verdana", "sans-serif";
	box-sizing: border-box;
}

.boxed {
	display: justify;
	border: 3px solid rgb(0, 0, 0);
	width: 1000px;
	padding: 10px;
	position: static;
	margin-bottom: 15px;
	position: absolute;
	top: 25%;
	bottom: 80%;
	right: 50%;
	left: 18%;
	height: 8%;
}

.boxed_2 {
	display: justify;
	border: 3px solid rgb(0, 0, 0);
	width: 1000px;
	padding: 10px;
	position: static;
	margin-bottom: 15px;
	position: absolute;
	top: 40%;
	right: 10%;
	left: 18%;
	height: 12%;
}

/*.menu:hover .bar {*/
/*  transform: rotate(-10deg);*/
/*}*/